# =================================
# Backend Service Configuration
# =================================

VITE_PROD_BACKEND_URL="https://sofia-headless-backend.fly.dev/resources"
VITE_DEV_BACKEND_URL="http://localhost:3000/resources"
