# =================================
# Backend Service Configuration
# =================================

VITE_PROD_BACKEND_URL="https://headless-backend-mbvv.onrender.com/resources"
VITE_DEV_BACKEND_URL="http://localhost:3000/resources"
